
<div class="col-md-8 offset-md-1">
<h1>投稿一覧</h1>

<table class="table table">
  <thead>
  <tr>
    <th colapan="3"></th>
    <th>書籍名</th>
    <th>タグ</th>
  </tr>
  </thead>

  <tbody>
<% @books.each do |book| %>
 <th colapan="3"></th>
  <td><%= link_to book.title, "/admin/books/#{book.id}" %></td>
   <% book.tags.each do |tag| %>
  <td><%= tag.name %></td>
     <% end %>
</tbody>
</div>
<% end %>
