<h2>Follower Users</h2>
<% if @users.exists? %>
  <%#= render '/users/index', users: @users %>
  <% @users.each do |user| %>
    <p><%= user.name %></p>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>