<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>名前：<%= link_to user.name, "/users/#{user.id}" %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td>書籍名：</td>
          <td><%= link_to book.title, "/books/#{book.id}" %></td><br>
          <td>著者：</td>
          <td><%= book.author %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>