<h1>管理者ホーム画面</h1>

<div class="col-lg-8">
<table>
<td><%= button_to "ユーザー一覧", admin_users_path, method: :get, class: "btn btn-secondary btn-sm" %></td>
<td><%= button_to "投稿一覧", admin_books_path, method: :get, class: "btn btn-secondary btn-sm" %></td>
</table>
</div>