
<div class="col-md-8 offset-md-1">
<p>いいねした投稿一覧</p>


<table class="table table">
  <thead>
  <tr>
    <th colapan="3"></th>
    <th>書籍名</th>
    <th>投稿者名</th>
  </tr>
  </thead>

  <tbody>

<% @favorite_books.each do |favorite_book| %>
 <th colapan="3"></th>
  <td><%= favorite_book.title %></td>
  <td><%= favorite_book.user.name %></td>
</tbody>
</div>
<% end %>